{%- doc -%}
  Intended for use in a block similar to the text block.

  @param {string} [class] - custom class to define in addition to text-block classes
  @param {string} [fallback_text] - fallback text if settings.text does not exist
  @param {object} [block] - The block object
  @param {string} [width] - width of the text block
{%- enddoc -%}

{% liquid
  assign block_settings = block.settings
  assign plain_text = block_settings.text | strip_newlines | strip
  assign visible_text = plain_text | strip_html
  assign text_width = width | default: block_settings.width

  if block_settings.font_size contains 'heading-lg' or block_settings.font_size contains 'heading-xl'
    assign type = 'display'
  elsif block_settings.font_size contains 'heading'
    assign type = 'heading'
  else
    assign type = 'body'
  endif
  if block_settings.type_preset == 'rte' or block_settings.type_preset == 'paragraph'
    assign is_rte = true
  endif

  capture text_block_classes
    if text_width == '100%'
      echo 'text-block--align-' | append: block_settings.alignment
      if block_settings.max_width == 'none'
        echo ' text-block--full-width '
      endif
    endif
    if block_settings.type_preset == 'custom'
      echo ' custom-typography '
      if block_settings.font_size != ''
        echo ' custom-font-size '
      endif
      if block_settings.color != ''
        echo ' custom-color '
      endif
    endif
    if block_settings.background
      echo ' text-block--background '
    endif
    if is_rte
      echo ' rte '
    endif
  endcapture
%}

{% capture attributes %}
  class="moving-line-text {{ class }} spacing-style text-block text-block--{{ block.id }} {{ block_settings.type_preset }}
    {{ text_block_classes }}
  "

  style="
    {% render 'spacing-padding', settings: block_settings %}
    {% render 'typography-style', settings: block_settings %}
    --width: {{ text_width }};
    --max-width: var(--max-width--{{ type }}-{{ block_settings.max_width }});
    {% if text_width == "100%" %}
      --text-align: {{ block_settings.alignment }};
    {% endif %}
    {% if block_settings.background %}
      --text-background-color: {{ block_settings.background_color | default: 'rgb(255 255 255 / 1.0)' }};
      --text-corner-radius: {{ block_settings.corner_radius }}px;
      --text-padding: max(var(--padding-2xs), calc((var(--text-corner-radius) + var(--padding-xs)) * (1 - cos(45deg))));
    {% endif %}
  "

  {{ block.shopify_attributes }}
{% endcapture %}

{% liquid
  # {{ attributes }} must be on the immediate HTML parent of the text to preserve
  # the click-to-edit connection in the theme editor. Any break between the text,
  # including if-statements, will break the connection.

  assign element = 'div'
  if is_rte
    assign element = 'rte-formatter'
  endif
%}

{% capture line_image %}
  <em class="line-image-em" style="--height: {{ block_settings.height }}px; --mobile-height:{{ block_settings.mobile_height }}px;">
    <div class="marquee-line__wrapper">
      {% for i in (1..20) %}
          <span class="line-image-span">
            {{
              block_settings.line_vector
              | image_url: width: 100
              | image_tag: alt: block_settings.line_vector.alt, loading: 'eager', class: 'line__image'
            }}
          </span>
      {% endfor %}
    </div>
{% endcapture %}

{% if fallback_text != blank and visible_text == blank %}
  <div {{ attributes | strip_newlines | strip }}>
    {{ fallback_text | replace: '<em>', line_image }}
  </div>
{% elsif plain_text != blank %}
  <{{ element }} {{ attributes | strip_newlines | strip }}>
    {{ block.settings.text | replace: '<em>', line_image }}
  </{{ element }}>
{% endif %}

{% stylesheet %}
  :root {
    --text-align-default: left;
  }

  .moving-line-text .line__image {
    display: block;
    height: var(--height);
    width: auto;
  }

  .line-image-em {
    position: relative;
    font-style: normal;
  }

  .marquee-line__wrapper {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: -10px;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }

  .marquee-line__wrapper > span {
      white-space: nowrap;
      will-change: transform;
      animation: 1s linear infinite reverse movingLine;
      display: block;
      transform: translate(0);
      min-width: fit-content;
      margin-left: -1px;
  }

  @keyframes movingLine {
    0% {
        transform: translate(-100%);
    }
    100% {
        transform: translate(0);
    }
  }

  @media (max-width: 749px) {
    .moving-line-text .line__image {
      height: var(--mobile-height);
    }
  }
{% endstylesheet %}