
{% capture id %}Option-{{ block.id }}-{{ forloop.index0 }}{% endcapture %}
{% assign product_option_swatches = shop.metaobjects.product_option_swatches.values %}

<variant-select class="custom-select-wrapper">
    <select
        name="options[{{ product_option.name | escape }}]"
        id="{{ id }}"
        class="variant-option__select"
        required
        hidden
    >
        {%- for product_option_value in product_option.values -%}
        <option
            value="{{ product_option_value | escape }}"
            data-input-id="{{ product_option.position }}-{{ forloop.index0 }}"
            data-option-value-id="{{ product_option_value.id }}"
            data-variant-id="{{ product_option_value.variant.id }}"
            data-connected-product-url="{{ product_option_value.product_url }}"
            {% if product_option_value.selected %}
            selected="selected"
            {% endif %}
            {% if product_option_value.available == false %}
            disabled
            {% endif %}
        >
            {% if product_option_value.available == false %}
            {{ product_option_value | escape }} - {{ 'content.unavailable' | t }}
            {% else %}
            {{ product_option_value | escape }}
            {% endif %}
        </option>
        {%- endfor -%}
    </select>

    <div class="custom-select" role="combobox" aria-expanded="false" aria-controls="{{ id }}-menu">
        <div class="cs-display" aria-hidden="true"
            {% if product.selected_variant == blank and product.metafields.custom.default_label != blank %}
                {% if product_option.position == 1 %}
                    data-custom-label="{{ product.metafields.custom.default_label | escape | upcase }}"
                {% elsif product_option.position == 2 and product.options_with_values.size >= 2 and product.metafields.custom.default_label_2 != blank %}
                    data-custom-label="{{ product.metafields.custom.default_label_2 | escape | upcase }}"
                {% endif %}
            {% endif %}
        >
            {%- assign selected_option = product_option.values | where: "selected", true | first -%}
            {%- assign display_option = selected_option | default: product_option.values.first -%}

            {% if block.settings.show_swatches == true and product_option_swatches.count > 0 %}
                {% assign matching_swatch = product_option_swatches | where: 'assign_to', display_option %}
                {% if matching_swatch.size > 0 %}
                    <span class="swatch-image">
                        {{
                            matching_swatch[0].icon_or_image
                            | image_url: width: 50
                            | image_tag: alt: matching_swatch[0].icon_or_image.alt
                            | default: matching_swatch[0].assign_to
                        }}
                    </span>
                {% endif %}
            {% endif %}
            <span class="cs-display-text">
                {{ display_option | escape }}{% if selected_option.available == false %} - {{ 'content.unavailable' | t }}{% endif %}
            </span>
        </div>
        <div class="cs-menu" id="{{ id }}-menu" role="listbox">
        {%- for product_option_value in product_option.values -%}
            <div class="cs-option {% if product_option_value.selected %}selected{% endif %}"
                role="option"
                aria-selected="{% if product_option_value.selected %}true{% else %}false{% endif %}"
                data-value="{{ product_option_value | escape }}"
                {% if product_option_value.available == false %}
                data-unavailable
                {% endif %}
            >

            {% if block.settings.show_swatches == true and product_option_swatches.count > 0 %}
                {% assign matching_swatch = product_option_swatches | where: 'assign_to', product_option_value %}
                {% if matching_swatch.size > 0 %}
                    <span class="swatch-image">
                        {{
                            matching_swatch[0].icon_or_image
                            | image_url: width: 50
                            | image_tag: alt: matching_swatch[0].icon_or_image.alt
                            | default: matching_swatch[0].assign_to
                        }}
                    </span>
                {% endif %}
            {% endif %}

            {% if product_option_value.available == false %}
                {{ product_option_value | escape }} - {{ 'content.unavailable' | t }}
            {% else %}
                {{ product_option_value | escape }}
            {% endif %}
            </div>
        {%- endfor -%}
        </div>
    </div>

    <svg
        aria-hidden="true"
        focusable="false"
        class="icon icon-caret"
        viewBox="0 0 10 6"
    >
        {%- render 'icon', icon: 'caret' -%}
    </svg>
</variant-select>

{% stylesheet %}
    .custom-select-wrapper {
        position: relative;
        width: 100%;
    }

    .swatch-image {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swatch-image img {
        display: block;
        max-width: 100%;
        height: 100%;
        width: auto;
    }

    .cs-option:has(.swatch-image) {
        display: flex;
        align-items: center;
        padding: var(--padding-sm) var(--padding-lg) !important;
    }

    .custom-select:has(.cs-display > .swatch-image) {
        padding: var(--padding-sm) var(--padding-3xl) var(--padding-sm) var(--padding-lg) !important;
    }

    .cs-display:has(.swatch-image), .cs-option:has(.swatch-image) {
        gap: var(--gap-sm);
    }

    .variant-option__select-wrapper:has(.custom-select-wrapper) {
        overflow: unset;
    }

    .variant-option__select-wrapper:has(.custom-select-wrapper) .custom-select {
        border: 0 !important;
    }

    .error-message {
        margin-top: var(--margin-2xs);
        line-height: 1em;
    }

    .loading-select {
        opacity: 0.6;
        pointer-events: none;
    }

    .flex-option-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .custom-select-wrapper label {
        position: absolute;
        top: 1rem;
        left: var(--margin-xl);
        pointer-events: none;
        transition: all var(--hover-transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
        width: calc(100% - var(--margin-xl));
        line-height: 1em;
        z-index: 1;
    }
    .custom-select-wrapper .icon {
        position: absolute;
        right: var(--padding-md);
        top: 50%;
        transform: translateY(-50%);
        width: var(--icon-size-xs);
        height: var(--icon-size-xs);
        pointer-events: none;
    }
    /* When no real selection is made (placeholder is selected) */
    custom-select.has-value + label {
        font-size: var(--font-size--xs);
        letter-spacing: 0.2px;
        top: 6px;
    }

    .custom-select-wrapper .error-message {
        margin-top: var(--margin-2xs);
        line-height: 1em;
    }

    .has-error .error-message {
        display: block !important;
        color: var(--color-primary-hover);
    }

    .custom-dropdown--field.has-error label {
        color: var(--color-primary-hover);
    }

    .custom-dropdown--field.has-error {
        --color-input-border: var(--color-primary-hover);
    }

    .custom-select {
        position: relative;
        width: 100%;
        border: 0;
        padding: var(--padding-lg) var(--padding-lg);
        box-sizing: border-box;
        cursor: pointer;
    }

    .custom-select-wrapper label [aria-hidden='true'] {
        margin-left: 0.2rem;
        line-height: 1em;
        position: relative;
        bottom: -0.1rem;
    }

    .cs-display {
        cursor: pointer;
        font: inherit;
        line-height: 1em;
        display: flex;
        align-items: center;
        -webkit-tap-highlight-color: transparent;
        color: var(--color-foreground);
    }

    .cs-menu {
        position: absolute;
        left: 0;
        right: 0;
        /* border: 1px solid rgba(var(--color-border-rgb) / .1); */
        border: 1px solid var(--color-primary);
        /* background-color: var(--color-background); */
        background-color: #f9f9f9;
        display: none;
        max-height: 300px;
        overflow-y: auto;
        z-index: 3;
        top: 100%;
        padding-block: var(--padding-xs);
        /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); */
        scrollbar-width: thin;
        scrollbar-color: rgb(var(--color-foreground-rgb) / var(--opacity-40)) transparent;
    }

    .cs-menu::-webkit-scrollbar {
        width: 6px;
    }

    .cs-menu::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .cs-menu::-webkit-scrollbar-thumb {
        background-color: rgb(var(--color-foreground-rgb) / var(--opacity-40));
        border-radius: 999px;
    }

    .cs-menu::-webkit-scrollbar-thumb:hover {
        background-color: rgb(var(--color-foreground-rgb) / var(--opacity-60));
    }

    .cs-option {
        padding: var(--padding-lg) var(--padding-lg);
        cursor: pointer;
        color: rgb(var(--color-foreground));
        line-height: 1em;

        @media (max-width: 749px) {
            padding-block: var(--padding-lg);
        }
    }

    .cs-option.selected {
        background: rgba(var(--color-border-rgb) / .8);
    }

    .cs-option:hover {
        background: rgba(var(--color-border-rgb) / .5);
    }

    .cs-menu.open {
        display: block;
    }
{% endstylesheet %}